/*general styles*/
body {
  margin: 0px;
  background-color: rgb(184, 183, 183); /*#282c34;*/
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-wrapper {
  width: 100%;
}

/*top bar styles*/
.top-bar {
  background-color: #2c2f33;
  padding: 25px 0;
  text-align: center;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.top-bar .text {
  margin: 0;
  font-size: 28px;
  font-weight: 700;
  color: white;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: 'Segoe UI', sans-serif;
}

/*middle bar styles*/
.middle-bar {
  background-color: #e8e9ea;
  padding: 21px 0;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.middle-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.author-text {
  font-size: 18px;
  font-weight: 600;
  color: #333333;
}
.author-image .avatar {
  width: 85px;
  height: 85px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #616262;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/*bottom bar styles*/
.bottom-bar {
  background: #a0a0a1;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  align-items: center;
}

/*left side menu styles*/
.menu a {
  color: rgb(248, 248, 248);
  text-decoration: none;
  margin: 0 15px;
  font-size: 16px;
  padding: 15px;
  margin: 0;
  font-weight: 600;
  display: inline-block;
}

.menu a:hover {
  background-color: white;
  color: black;
}

.content-section {
  display: flex;
  min-height: 480px;
}

.left-side {
  margin: 15px 0px 15px 0px;
  width: 250px;
  background-color: #f5f5f5;
  padding: 20px;
  border-right: 1px solid darkgrey;
  box-sizing: border-box;
  border-radius: 0 8px 8px 0px;
}

.left-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.left-nav ul li {
  margin-bottom: 15px;
}

.left-nav a {
  display: flex;
  text-decoration: none;
  color: #333333;
  font-weight: 600;
  align-items: center;
  padding: 15px;
  margin: 0px;
}

.left-nav a:hover {
  background-color: #616262;
  color: rgb(248, 248, 248);
  box-shadow: #616262 2px 2px 8px;
}

/*right side content styles*/
.right-side {
  margin: 15px 0px 15px 0px;
  flex: 1;
  padding: 20px;
  background-color: #f5f5f5;
  box-sizing: border-box;
  border-radius: 8px 0px 0px 8px;
}

.info {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

/*footer styles*/
.footer {
  background-color: #2c2f33;
  color: white;
  text-align: center;
  padding: 15px;
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.15);
}
